.Search {
  margin: 0 auto;
  text-align: center;
}
.search-bar,
.search-button {
  background-color: #d9d9d980;
  padding: 5px 10px;
}

.search-bar {
  border-radius: 100px;
  width: 400px;
  margin-right: 15px;
  text-align: center;
}

.search-button {
  border-radius: 50px;
}

.dictionary-example {
  font-weight: 300;
}
